
<!-- Comment portion -->

<div class="comment-container">
    <div class="all-comment">
        <div class="row comment" id="comment">
            <!-- Votes -->
            <div class="col-1 com-votes-cont" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <div><i class="fa-regular fa-circle-up comment-proper-votes" style="color: #292F33; font-size: x-large"></i></div>
                <div class="comment-vote-cont"><span class="com-prop-amnt">-49</span></div>
                <div><i class="fa-regular fa-circle-down comment-proper-votes" style="color: #292F33; font-size: x-large"></i></div>
            </div>
            <div class="col-11">
                <!-- Username and Date Commented -->
                <div class="row">
                    <div class="col-1">
                        <img src="img/redqueen.png" class="comment-profile-pic">
                    </div>
                    <div class="col-11">
                        <div class="comment-username"><a href="redqueen.html">RedQueen</a></div>
                        <div class="comment-username">May 17, 2023</div>
                    </div>
                </div>
                <!-- Comment contents -->
                <div class="comment-content">
                    I demand a recount!
                </div>
                <span class="comment-reply" onclick="onClickRep(event)">reply</span>
                <span class="comment-time-reply">10h ago</span>
            </div>
        </div>
    </div>
</div>