 {{!-- <div class="row d-flex mt-2 justify-content-between">
                    <div class="col-2">
                        <img src="img/profile.png" class="profile-pic">
                    </div>
                    <div class="col-10">
                        <p class="side-post-title"><b><a href="profile_post.html">help my computer is dying</a></b></p>
                        <span class="side-post-info">posted by <a href="profile.html">helpvirus</a> on May 25, 2023</span>
                    </div>
            </div>
            
<div class="side-line mt-3"></div> --}}