 <div class="container d-flex mt-2 justify-content-between">
            <a href="/tag/{{tags.tag_name}}" class="pop-tag" style="text-decoration: none;"><h6 class="pop-tag">{{tag_name}} ({{count}})</h6></a>
            <div class="tag-subscribe add-tag" id="subs">Subscribe</div>
</div>