<div class="viewed-post-container mb-4">
                    <h2>Get Coconut'd</h2>
                    <p class="post-creator-posted-by">posted by <a href="deeznuts.html">DeezNuts</a> on May 10, 2023</p>
                    <p>
                       {{post_content}}
                    </p>
                    <div class="d-flex">
                        <a href="view-tags.html" class="postcom-tags post-tags-cont">#coconut</a>
                        <a href="view-tags.html" class="postcom-tags post-tags-cont">#morenuts</a>
                        <a href="view-tags.html" class="postcom-tags post-tags-cont">#deeznuts</a>
                    </div>

                    <div class="actions-cont viewed-post-actions mb-3 mt-3">
                        <div class="share-cont" id="share-btn" onclick="copyLink('view-post.html')">
                            <i class="fa-regular fa-share-from-square"></i>
                        </div>
                        <div class="votes-cont">
                            <i class="fa-regular fa-circle-up" id="upvote-btn"></i>
                            <span style="font-size:smaller; margin-right: 0.5vh;" id="upvote-amnt"><b>3</b></span>
                            <span style="font-size:smaller; margin-right: 0.5vh;"><b>|</b></span>
                            <i class="fa-regular fa-circle-down" id="downvote-btn"></i>
                            <span style="font-size:smaller" id="downvote-amnt"><b>0</b></span>
                        </div>
                        <div class="comments-cont">
                            <i class="fa-regular fa-comment-dots"></i>
                            <span style="font-size:smaller" id="comment-amnt"><b>0</b></span>
                        </div>
                    </div>
                </div>