 <div class="tag-group col-md-3 mt-3">
<div><h6 class="tag-group-name">#virus</h4></div>
<div class="tag-group-img" style="background-image:url(img/virus.png);"></div>
     <div><h6 class="tag-group-count">523 posts</h4></div>
 </div>