<div class="tag-group mr-5 col-md-3">
    <div><h6 class="tag-group-name"><a href="view-tags.html">{{tag_name}}</a></h4></div>
    <div class="tag-group-img" style="background-image:url({{photo}});"></div>
    <div><h6 class="tag-group-count">8k posts</h4></div>
</div>