<div class="container flex-md-wrap d-flex justify-content-center">
    {{#each tag}}
    <a href="tag/{{tag_name}}">
        <div class="tag-group ">
            <div><h6 class="tag-group-name">#{{tag_name}}</h4></div>
            <div class="tag-group-img" style="background-image:url({{photo}});"></div>
            <div><h6 class="tag-group-count">TODO: </h4></div>
        </div>
    </a>
    
    {{/each}}
</div>