<div class="tag-group-row">
    <div class="tag-group mr-2 col-md-3">
        <div><h6 class="tag-group-name">#sans</h4></div>
        <div class="tag-group-img" style="background-image:url(img/sans.png);"></div>
        <div><h6 class="tag-group-count">11.3k posts</h4></div>
    </div>
    <div class="tag-group mr-2 col-md-3">
        <div><h6 class="tag-group-name">#lukas</h4></div>
        <div class="tag-group-img" style="background-image:url(img/coolbeans.png);"></div>
        <div><h6 class="tag-group-count">575 posts</h4></div>
    </div>
    <div class="tag-group mr-2 col-md-3">
        <div><h6 class="tag-group-name">#mcyt</h4></div>
        <div class="tag-group-img" style="background-image:url(img/mcyt.jpg);"></div>
        <div><h6 class="tag-group-count">5k posts</h4></div>
    </div>
    <div class="tag-group mr-2 col-md-3">
        <div><h6 class="tag-group-name">#minecraft</h4></div>
        <div class="tag-group-img" style="background-image:url(img/minecraft.jpg);"></div>
        <div><h6 class="tag-group-count">4.2k posts</h4></div>
    </div>
</div>
<div class="tag-group-row">
    <div class="tag-group col-md-3">
        <div><h6 class="tag-group-name">#nou</h4></div>
        <div class="tag-group-img" style="background-image:url(img/nou.jpg);"></div>
        <div><h6 class="tag-group-count">702 posts</h4></div>
    </div>
    <div class="tag-group col-md-3">
        <div><h6 class="tag-group-name">#hahafunny</h4></div>
        <div class="tag-group-img" style="background-image:url(img/hahafunny.jpg);"></div>
        <div><h6 class="tag-group-count">4.3k posts</h4></div>
    </div>
    <div class="tag-group col-md-3">
        <div><h6 class="tag-group-name">#meme</h4></div>
        <div class="tag-group-img" style="background-image:url(img/meme.jpg);"></div>
        <div><h6 class="tag-group-count">8k posts</h4></div>
    </div>
    <div class="tag-group col-md-3">
        <div><h6 class="tag-group-name">#alice</h4></div>
        <div class="tag-group-img" style="background-image:url(img/alice.jpg);"></div>
        <div><h6 class="tag-group-count">32 posts</h4></div>
    </div>
</div>
<div class="tag-group-row">
    <div class="tag-group col-md-3">
        <div><h6 class="tag-group-name">#sansfanart</h4></div>
        <div class="tag-group-img" style="background-image:url(img/sansfangirlxoxo.png);"></div>
        <div><h6 class="tag-group-count">972 posts</h4></div>
    </div>
    <div class="tag-group col-md-3">
        <div><h6 class="tag-group-name">#puzzle</h4></div>
        <div class="tag-group-img" style="background-image:url(img/puzzle.jpg);"></div>
        <div><h6 class="tag-group-count">9.5k posts</h4></div>
    </div>
    <div class="tag-group col-md-3">
        <div><h6 class="tag-group-name">#mystery</h4></div>
        <div class="tag-group-img" style="background-image:url(img/mystery.jpg);"></div>
        <div><h6 class="tag-group-count">1k posts</h4></div>
    </div>
    <div class="tag-group col-md-3">
        <div><h6 class="tag-group-name">#detective</h4></div>
        <div class="tag-group-img" style="background-image:url(img/sherlockholmes.png);"></div>
        <div><h6 class="tag-group-count">3k posts</h4></div>
    </div>
</div>
<div class="tag-group-row">
    <div class="tag-group col-md-3">
        <div><h6 class="tag-group-name">#logic</h4></div>
        <div class="tag-group-img" style="background-image:url(img/logic.png);"></div>
        <div><h6 class="tag-group-count">2.2k posts</h4></div>
    </div>
</div>