<!-- Content Body -->
<div class="container mt-4 pt-3">
<div class="container d-flex content-container mt-4">

    
    <!-- View Post Container -->
    <div class="container viewed-post">

        {{> post logged_in=logged_in}}
    
        <h3>Comments (<span id="comment-bar-amnt">{{comment_amount}}</span>)</h3>
        
        <form id="comment-form">
        <div class="row comment-textarea-holder">
                <div class="col-11 d-flex justify-content-center">
                        <input type="hidden" value="{{id}}" name="id">
                        <textarea class="comment-textarea" id="comment-textarea" name="comment_textarea" contenteditable="true" placeholder="add text here" ></textarea>
                </div>
                <div class="col-1 d-flex comment-send" id="comment-send-btn">
                        <i class="fa-solid fa-paper-plane" style="margin:auto"></i>
                </div>
        </div>
        </form>
        <!-- Comment portion -->
        <div class="comment-container">

        {{#each comment}}
        {{> comments this}}
        {{/each}}
        </div>
    </div>
    
    {{> side-container}}
</div>
        
